# --- PyInstaller y Compilación ---
build/
dist/
*.spec

# --- Python Cache ---
__pycache__/
*.pyc

# --- Carpetas de Salida / Temporales ---
aux_files/
Resultados_Default/
informes/

# --- Carpetas de Backups (Mala práctica en Git) ---
Logica_v1.8/

# --- Configuración de entorno local ---
.python-version
.vscode/
.idea/